Django>=4.2
djangorestframework
django-cors-headers
numpy
pandas
scikit-learn
scipy
sentence-transformers
torch
requests
tqdm
python-dateutil
feedparser
ftfy
clean-text
hdbscan
vaderSentiment
praw
transformers
